.footer {
	background-color: $bcb;
}
.container {
}
.footer__container {
	max-width: 730px;
	padding-top: 60px;
	padding-bottom: 70px;

	@include max-w-560px {
		padding-top: 40px;
		padding-bottom: 45px;
	}
}
.footer__title {
	margin-bottom: 20px;
	@include text-settings;
	text-align: center;
	color: #fefefe;
}
.footer__subtitle {
	text-align: center;
	font-size: 16px;
	line-height: 28px;
	color: #b9b9b9;
	margin-bottom: 40px;
	@include max-w-560px {
		margin-bottom: 25px;
		font-size: 12px;
		line-height: 20px;
	}
}
.footer__icons--social-media {
	@include flex-center;
	gap: 10px;
	margin-bottom: 35px;
	@include max-w-560px {
		margin-bottom: 25px;
	}
}
.icons {
}
.icons__links {
}
.icon__rss {
}
.icon__facebook {
}
.icon__twitter {
}
.icon__dribbble {
}
.icon__pinterest {
}

.footer__contacts {
}
.contacts {
}
.contacts__list {
	text-align: center;

	a {
		color: #b9b9b9;
		@include max-w-560px {
			display: block;
			line-height: 24px;
		}
	}
	a:not(:last-child)::after {
		content: "/";
		margin-right: 10px;
		margin-left: 10px;
	}
}
