.header {
}

.header-top {
	position: relative;
	padding: 40px 0;
	@include max-w-768px {
		padding: 25px 0;
	}
}

.header__burger-menu {
	display: none;
	width: 44px;
	height: 37px;
	position: relative;
	right: -1px;
	transition-duration: 1s;
	margin-left: auto;
	cursor: pointer;
	background-color: $bcb;
	@include max-w-768px {
		display: block;
	}
	& span {
		width: 17px;
		height: 2px;
		background-color: $bcw;
		border-radius: 20px;
		position: absolute;

		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		transition-duration: 0.25s;
		transition-delay: 0.25s;
		&:before {
			left: 0;
			position: absolute;
			top: -5px;
			width: 17px;
			height: 2px;
			background-color: $bcw;
			content: "";
			border-radius: 20px;
			transition-duration: 0.25s;
			transition: transform 0.25s, top 0.25s 0.25s;
		}
		&:after {
			left: 0;
			position: absolute;
			top: 5px;
			width: 17px;
			height: 2px;
			background-color: $bcw;
			content: "";
			border-radius: 20px;
			transition-duration: 0.25s;
			transition: transform 0.25s, top 0.25s 0.25s;
		}
	}

	&.open span {
		transition-duration: 0.1s;
		transition-delay: 0.25s;
		background: transparent;
	}
	&.open span:before {
		transition: top 0.25s, transform 0.25s 0.25s;
		top: 0px;
		transform: rotateZ(-45deg);
	}
	&.open span:after {
		transition: top 0.4s, transform 0.25s 0.25s;
		top: 0px;
		transform: rotateZ(45deg);
	}
}

.menu {
}
.menu__list {
	@include flex-center;
	@include max-w-768px {
		display: none;
		animation: menu 0.3s ease-in-out;
	}
	@keyframes menu {
		0% {
			opacity: 0;
			transform: translateX(10%);
		}
		100% {
			opacity: 1;
			transform: translateX(0%);
		}
	}
}
.--active {
	display: flex;
	align-items: start;
	flex-direction: column;
	position: absolute;
	right: -1px;
	top: 62px;
	background-color: #f5f5f5;

	& .menu__list-item {
		@include max-w-768px {
			min-width: 180px;
			padding: 4px 0 4px 12px;
			animation: item 0.5s ease-in-out;
			& .menu__list-item:hover {
				background-color: #e5e5e5;
			}
		}
	}
}
@keyframes item {
	0% {
		opacity: 0;
		transform: translateX(25%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.menu__list-item {
	&:hover {
		background-color: #e5e5e5;
	}
	&:not(:last-child) {
		margin-right: 70px;
		@include max-w-880px {
			margin-right: 35px;
		}
		@include max-w-660px {
			margin-right: 20px;
		}
		@include max-w-560px {
			margin-right: 0;
		}
	}
}

.menu__link {
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	color: #4e4e4e;
}
.menu__link--active {
	color: #57a4a4;
}
.header-content {
	display: block;
	width: 100%;
}
.header-content__image {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
