.instagram {
	background-color: rgba(0, 0, 0, 0.03);
	padding-top: 50px;
	padding-bottom: 50px;
	@include max-w-560px {
		background-color: $bcw;
		padding-top: 0;
	}
}
.container {
}
.instagram__titles--wrapped {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.instagram__title--left {
	@include text-settings;
	color: $color1;
}
.instagram__title--right {
	font-weight: 700;
	font-size: 13px;
	line-height: 22px;
	text-transform: uppercase;
	color: $color1;
	@include max-w-560px {
		display: none;
	}
}
.instagram-posts__list {
	display: flex;
	gap: 10px;
	// margin-bottom: 50px;
}
.instagram-posts__images {
	@include max-w-768px {
		&:last-child {
			display: none;
		}
	}
	@include max-w-560px {
		&:not(:first-child) {
			display: none;
		}
	}
}
.instagram-posts__image {
	width: 100%;
	height: auto;
}
