.pages__recent-posts {
}
.recent-posts {
	margin-top: 60px;
	margin-bottom: 70px;
}
.container {
}
.recent-posts__title {
	@include text-settings;
	color: $color1;
}
.recent-posts__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
	grid-gap: 30px;
	margin-top: 25px;
}
.recent-posts__item {
}
.recent-posts__link {
	display: flex;
	justify-content: start;
	align-items: center;
	@include max-w-560px {
		display: block;
		justify-content: start;
	}
}
.post {
}
.post__image {
	margin-right: 20px;
}
.post__text--right {
}
.post__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: $color1;
}
.post__subtitle {
	font-size: 12px;
	line-height: 20px;
	color: #7c7c7c;
}
.post__desc {
	line-height: 26px;
	color: #5c5c5c;
	margin-top: 15px;
	@include max-w-560px {
		display: none;
	}
}
