@mixin max-w1170px {
	@media (max-width: 1170px) {
		@content;
	}
}
@mixin max-w1160px {
	@media (max-width: 1160px) {
		@content;
	}
}
@mixin max-w-880px {
	@media (max-width: 880px) {
		@content;
	}
}
@mixin max-w-768px {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin max-w-660px {
	@media (max-width: 660px) {
		@content;
	}
}
@mixin max-w-560px {
	@media (max-width: 560px) {
		@content;
	}
}

@mixin text-settings {
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
