@import "./reset.scss";
@import "./mixins.scss";
@import "./variables.scss";

.wrapper {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}

@import "./main/header.scss";
@import "./main/recent-posts.scss";
@import "./main/instagram.scss";
@import "./main/footer.scss";
