<header class="header">
	<div class="container">
		<div class="header-top">
			<button class=" header__burger-menu header__burger-menu--open">
				<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="17" height="2" fill="white" />
					<rect y="4" width="17" height="2" fill="white" />
					<rect y="8" width="17" height="2" fill="white" />
				</svg>
			</button>
			<button class="header__burger-menu header__burger-menu--close">
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="12.8033" y="13.7175" width="17" height="2" transform="rotate(-135 12.8033 13.7175)"
						fill="white" />
					<rect x="0.782471" y="12.3033" width="17" height="2" transform="rotate(-45 0.782471 12.3033)"
						fill="white" />
				</svg>

			</button>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a class="menu__link menu__link--active" href="#">Home</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">About Us</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Our Journal</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Projects</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">News</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Features</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header-content">
			<img class="header-content__image" src="./dist/img/intro-img 1.jpg" alt="" width="1170" height="550">
		</div>

	</div>
</header>